* {
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  text-align: center;
  background-color: #F6EABE;
  min-height: 100vh;
}

.nav {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: #F6D7A7;
  padding: 0 70px;
  justify-items: space-between;
  box-shadow: 0px 2px 10px black;
  
}

.logo {
  height: 80px;
  border-radius: 40px;
  margin-right: 30px;
}

.nav > h2 {
  margin-right: 30px;
}

.title {
  margin-right: auto;
}

.title > p {
  margin-top: 0;
  line-height: 0.5rem;
}

.footer {
  height: 70px;
  background-color: #C8E3D4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer > h2 {
  margin-bottom: 0;
  line-height: 0.5rem;
}

.link {
  font-size: 22px;
  margin: 20px;
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  line-height: 50px;
  
}

.avatars {
  height: 60px;
  border-radius: 50%;

}

.section {
  margin-top: 70px;
}

.partners {
  width: 400px;
  margin: auto;
}

.desc {
  background-color: rgb(196, 255, 235);
  
}

.desc > h2{
  background-color: #87AAAA;
}

.icon{
  text-align: center;
  margin: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(45, 46, 45);
  width: 60%;
  margin: 15px auto;
}

.main{
  padding: 120px 0;
  width: 70%;
  margin: auto;

}

.btn {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: yellow;
  border: none;
}

.form{

}

.inputs{
  margin: 5px;
}
/*
.items {
  height: 100px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}*/